* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 1400px;
}
.div1 {
  width: 300px;
  padding: 20px;
  border: 2px solid #333;
  margin: 10px;
}
/* when border box is applied the width shrinks */
nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(197, 240, 42, 0.541);
  position: sticky;
  top: 0px;
}
ul {
  display: flex;
  gap: 15px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

ul li:nth-child(2) {
  font-size: 20px;
  color: rgb(255, 38, 0) !important;
  font-weight: bold;
}
/* I don't know why the red volor didn't apply on second list child although i used important*/
nav div {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.pos {
  width: 120px;
  height: 120px;
  border: 2px solid #333;
  position: relative;
}
.pos p {
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  /*solution1*/
  inset: 0;
  margin: auto;
  /* solution2*/
  /*top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;*/
  /*solution3*/
  /*top:50%;
  left:50%;
  transform:translate(-50%,-50%) ;*/
}
.container {
  display: flex;
  width: 600px;
  height: 900px;
  border: 2px solid #333;
  flex-wrap: wrap;
}
.container p {
  margin-left: 12.5px;
  width: 180px;
  height: 50px;
  background-color: brown;
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
  .container p {
    margin-left: 11px;
  }
  nav div {
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
  }
  ul {
    display: flex;
    gap: 10px;
    font-size: 15px;
  }
  ul li:nth-child(2) {
    font-size: 17.5px;
    font-weight: bold;
    color: rgb(255, 38, 0) !important;
  }
  nav {
    justify-content: space-between;
    padding: 0 10px;
  }
}
/*2 columns when the max width is 500px*/
@media (max-width: 400px) {
  .container {
    width: 200px;
  }
  .container p {
    margin-left: 7.5px;
  }
  nav div {
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
  }
  ul {
    display: flex;
    gap: 5px;
    font-size: 15px;
  }
  ul li:nth-child(2) {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 38, 0) !important;
  }
  nav {
    justify-content: space-between;
    padding: 0 10px;
  }
}
