body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.flex {
  display: flex;
}
.first {
  flex-direction: column;
  background-color: rgb(188, 218, 55);
  width: fit-content;
  padding: 50px;
  gap: 10px;
  margin: 10px auto 0 auto;
  border-radius: 20px;
  margin-bottom: 10px;
  gap: 20px;
}
.first:hover {
  opacity: 0.9;
  box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.75);
}
.first input {
  border-radius: 10px;
}
.second {
  width: fit-content;
  margin: 10px auto;
  padding: 50px;
  background-color: rgba(149, 197, 59, 0.788);
  gap: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.second label {
  background-color: rgb(14, 207, 117);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.third {
  margin: 10px auto;
  width: fit-content;
  padding: 50px;
  background-color: rgba(149, 197, 59, 0.541);
  gap: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.fourth {
  justify-content: center;
  padding: 30px;
  background-color: rgba(149, 197, 59, 0.397);
  gap: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.fourth input {
  padding: 20px;
  width: 200px;
  margin: 0 50px;
}

img {
  width: 300px;
  height: 200px;
}
caption {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 30px;
}
table {
  width: 100%;
  margin-bottom: 20px;
}
thead th {
  background-color: rgba(0, 0, 255, 0.623);
}
th,
td {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  background-color: rgba(73, 38, 38, 0.473);
}

th {
  background-color: #f2f2f2;
}
